#div1{
    height: 60px;
    background-color: #00b5b0;
}
#ticket{
   color: white;   
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 2px solid red; */
   height: 60px;
}
#div2{
    border: 2px solid red;
    width: 1000px;
    height: 100px;
}
label {
    display: block;
    margin-top: 10px;
}
input, select {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}
.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.form-column {
    width: 45%;
}
.bold {
    font-weight: bold;
}
#button1{
    /* border: 2px solid red; */
    width: 900px;
    display: flex;
    justify-content: space-between;
}
#btn1{
    width: 160px;
    height: 40px;
    color: white;
    background-color: rgb(34, 134, 126);
}
#btn2{
    width: 160px;
    height: 40px;
    color: white;
    background-color: rgb(34, 134, 126);
}
